h4, p 
    padding: 0
    margin: 0
.frontpage-bottom
    display: flex
    justify-content: space-between    
.news
    width: 74%
    border-radius: 10px
    background-color: #fff
    margin-bottom: 60px
    &-list
        align-self: start
        max-width: 850px
        list-style: none
        padding: 0
        margin: 0
    &-item
        display: flex
        height: 245px
        position: relative
        &:not(:last-child)
            border-bottom: 1px solid #D9DADB
    &-img
        height: 195px
        width: 336px
        padding: 25px
        width: 336px
        height: 100%
    &-info
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 30px 25px
        align-items: flex-start
        position: relative
    &-icon
        position: absolute
        fill: #BCBFC2
        right: 25px
        top: 25px
    &-category-name
        font-weight: 900
        font-size: 12px
        line-height: 15px
        text-transform: uppercase
        color: #4592FF
        .photo-report::before
            background: none
    &-title
        font-family: Roboto Slab
        font-style: normal
        font-weight: bold
        font-size: 20px
        line-height: 25px
        color: #262D33
    &-excerpt
        font-family: "Lato regular"
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 20px
        color: #4B5157
    &-feedback
        display: flex
        color: #939699
        display: flex
        align-items: center
        .date
            margin-right: 10px
        .comments
            display: flex
            justify-content: space-between
            align-items: center
            margin-right: 10px
            &-icon
                margin-right: 7px
        .likes
            display: flex
            justify-content: space-between
            align-items: center
            &-icon
                margin-right: 7px

@media screen and ( max-width: 1200px )
    .news
        width: 65%  
        &-item
            height: 300px

@media screen and ( max-width: 1024px )
    .news
        &-item
            flex-direction: column
            height: auto
        &-img
            width: 100%
        &-info
            padding-top: 10px
        &-title
            padding: 15px 0
        &-icon
            right: 30px
            top: 5px
        &-feedback
            padding: 10px 0

@media screen and ( max-width: 960px )
    .frontpage-bottom
        flex-direction: column
    .news
        width: 100%
        &-list
        &-item
            width: 100%



