.comments-area {
  max-width: 750px;
}

.comments-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
}

.comments-count {
  color: #939699;
  font-style: normal;
  font-family: "Lato Regular";
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
}

.comments-add-button {
  color: #262d33;
}
