@font-face {
  font-family: "Lato Black";
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.header {
  background-color: #262d33;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-menu-toggle {
  display: none;
}

.header-light {
  background-color: #fff;
}

.header-light .logo-name {
  color: #4592FF;
}

.header-light .menu-item a {
  color: #939699;
}

.header-light .search-form input {
  background-color: #F5F5F5;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
}

.custom-logo {
  width: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-name {
  color: #fff;
  font-family: 'Roboto Slab';
  font-size: 24px;
  margin-left: 10px;
  text-decoration: none;
}

.search-form {
  position: relative;
  width: 25%;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #656b70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
  color: #312a2a;
}

.search-form input::placeholder {
  color: #4f5b66;
}

.search-form button {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 25px;
  height: 40px;
  background-image: url(../images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .menu-item a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .search-form {
    width: 30%;
  }
  .header-wrapper {
    flex-wrap: wrap;
  }
  .header-nav {
    order: 5;
    padding-top: 20px;
  }
  .header-menu {
    flex-wrap: wrap;
  }
  .menu-item a {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    margin-left: auto;
    width: 40%;
  }
  .header-wrapper {
    position: relative;
  }
  .header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    width: calc( 40% + 40px);
    background-color: #fff;
    padding: 30px;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.3);
  }
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu a {
    color: #000;
  }
  .header-menu-toggle {
    display: flex;
    width: 30px;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .header-nav {
    top: 105px;
  }
  .search-form {
    width: 86%;
    margin-top: 10px;
  }
}

body {
  background-color: #E5E5E5;
}

.front-page-header {
  background-color: #262d33;
  position: relative;
  padding-top: 30px;
  height: 475px;
}

.hero {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.hero .left {
  flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 48, 61, 0.45);
  z-index: 1;
}

.hero .left .post-thumb {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  object-fit: cover;
}

.hero .left .author {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero .left .post-title {
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 590px;
}

.hero .left .post-text {
  position: relative;
  z-index: 2;
}

.hero .left .post-text .more-button {
  line-height: 20px;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  padding-right: 50px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
  background-image: url("../images/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  cursor: pointer;
}

.hero .left .post-text .more-button:focus, .hero .left .post-text .more-button:visited, .hero .left .post-text .more-button:hover {
  color: #fff;
}

.hero .right {
  flex-basis: 25%;
}

.hero .right .recommend {
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero .right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .post {
  padding: 17px 25px 19px 25px;
  margin: 0;
  border-top: 1px solid #D9DADB;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.hero .right .post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero .right .post-permalink {
  text-decoration: none;
  color: #4B5157;
  margin-top: 8px;
}

.hero .right .post:hover {
  background-color: #f5f5f5;
}

.hero .right .post-title {
  min-width: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 8px;
}

.category-link {
  color: #4592ff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  margin-right: 10px;
}

.category-link:visited {
  color: #FFA34D;
}

.category-link.web-design {
  color: #ff4d4d;
}

.category-link.javascript {
  color: #c27819;
}

.category-link.html {
  color: #AC8EE3;
}

.category-link.css {
  color: #298656;
}

.category-link.articles {
  color: #FF4F52;
}

.category-link.career {
  color: #62218d;
}

.category-link.photo-report {
  color: #790069;
}

.category-link.investigation {
  color: #221620;
}

.category-link.popular {
  color: #a56dff;
}

.category-link.compilations {
  color: #6dbdff;
}

@media screen and (max-width: 1200px) {
  .hero .right {
    flex-basis: 35%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .front-page-header {
    height: auto;
    padding-bottom: 30px;
  }
  .left .author {
    margin-bottom: 30px;
  }
}

.article-list {
  margin: 0;
  margin-top: 180px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: flex;
  align-items: center;
  padding: 30px 25px 35px;
  justify-content: space-between;
  position: relative;
}

.article-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 70%;
  width: 1px;
  background-color: #4b5157;
  display: block;
}

.article-permalink {
  text-decoration: none;
  color: #ffffff;
  width: 150px;
}

.article-permalink:hover {
  color: #ffffff;
}

.article-permalink-visited {
  color: #ffffff;
}

.article-title {
  margin: 0;
  font-family: Lato Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .article-list {
    flex-wrap: wrap;
  }
  .article-item {
    width: 50%;
    padding: 25px;
  }
  .article-permalink {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .article-list {
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .article-item {
    width: 100%;
  }
}

.main-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

.article-grid {
  width: 74%;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-template-rows: repeat(3, minmax(200px, max-content));
  grid-auto-rows: minmax(200px, max-content);
  grid-gap: 30px;
}

.article-grid-permalink {
  text-decoration: none;
  color: #262D33;
}

.article-grid-permalink:hover {
  color: #262D33;
}

.article-grid-item {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.article-grid-item-1 {
  grid-area: 1 / 1 / 2 / 3;
  padding: 35px 35px 53px 35px;
  position: relative;
  overflow: hidden;
}

.article-grid-item-1 .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6E99AE;
}

.article-grid-item-1 .article-grid-title {
  width: 90%;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.article-grid-item-1 .article-grid-excerpt {
  font-size: 14px;
  line-height: 20px;
  width: 60%;
  margin-bottom: 40px;
}

.article-grid-item-1 .article-grid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 35px;
  border-top: 1px solid #D9DADB;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-grid-item-1 .article-grid-info .author {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-info .author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-info .author-name {
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
}

.article-grid-item-1 .article-grid-info .author-name strong {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-1 .article-grid-info .comments {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-info .comments-icon {
  fill: #BCBFC2;
}

.article-grid-item-1 .article-grid-info .comments-counter {
  color: #939699;
  font-size: 12px;
  line-height: 15px;
  margin-left: 5px;
}

.article-grid-item-2 {
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  background-color: transparent;
}

.article-grid-item-2::before {
  content: '';
  position: absolute;
  z-index: 0;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  width: 100%;
  height: 100%;
}

.article-grid-item-2 .article-grid-thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -1;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}

.article-grid-item-2 .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin-top: 23px;
  margin-bottom: 27px;
  color: #ffffff;
}

.article-grid-item-2 .tag {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}

.article-grid-item-2 .category-name {
  margin-top: auto;
  color: #E7D9FF;
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.article-grid-item-2 .author {
  display: flex;
  align-items: center;
}

.article-grid-item-2 .author-info {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
}

.article-grid-item-2 .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article-grid-item-2 .author-name {
  flex-basis: 100%;
}

.article-grid-item-2 .date, .article-grid-item-2 .comments, .article-grid-item-2 .likes {
  opacity: 0.4;
  display: flex;
  align-items: center;
}

.article-grid-item-2 .date:not(:last-child), .article-grid-item-2 .comments:not(:last-child), .article-grid-item-2 .likes:not(:last-child) {
  margin-right: 7px;
}

.article-grid-item-2 .date-counter, .article-grid-item-2 .comments-counter, .article-grid-item-2 .likes-counter {
  margin-left: 5px;
}

.article-grid-item-3 {
  grid-area: 2 / 1 / 4 / 2;
}

.article-grid-item-3 .article-thumb {
  height: 275px;
  object-fit: cover;
  width: 100%;
}

.article-grid-item-3 .article-grid-title {
  padding: 15px 25px 35px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.article-grid-item-default {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-grid-item-default .article-grid-permalink {
  padding: 25px 25px 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.article-grid-item-default .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 5px;
}

.article-grid-item-default .article-grid-excerpt {
  margin-top: 0;
  margin-bottom: auto;
}

.article-grid-item-default .article-grid-date {
  color: #939699;
  align-self: start;
}

@media screen and (max-width: 1200px) {
  .article-grid {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .article-grid {
    width: 65%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(300px, max-content));
  }
  .article-grid-item {
    grid-area: auto;
  }
  .article-grid-item .tag {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 960px) {
  .main-grid {
    flex-wrap: wrap;
  }
  .article-grid {
    width: 100%;
  }
}

body {
  counter-reset: section;
}

.sidebar-front-page {
  width: 23%;
}

.sidebar-front-page .widget-social-wrapper {
  padding: 10px 30px 35px;
}

.widget {
  background-color: #fff;
  border-radius: 10px;
}

.widget-title {
  padding: 20px 25px;
  border-bottom: 1px solid #D9DADB;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Black", sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.widget-downloader {
  background: #3bbdc4 url("../images/file.svg") no-repeat top 22px right 24px;
  border-radius: 10px;
  color: #ffffff;
  padding: 25px;
  padding-bottom: 55px;
  position: relative;
}

.widget-downloader .widget-title {
  text-transform: none;
  margin-top: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  border: none;
  padding: 0;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  color: #fff;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
}

.widget-downloader .description {
  color: #c1f4f5;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.widget p {
  margin-top: 10px;
}

.widget-recent-posts-wrapper {
  padding: 0 25px 17px;
}

.widget-recent-posts a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 17px;
  position: relative;
}

.widget-recent-posts a:not(:last-child) {
  border-bottom: 1px solid #d9dadb;
}

.widget-recent-posts a::before {
  position: absolute;
  right: 5px;
  color: #262d33;
  opacity: 0.08;
  font-size: 70px;
  line-height: 50px;
  font-family: "Lato Black", sans-serif;
  font-style: italic;
  counter-increment: section;
  content: counter(section);
}

.widget-recent-posts a img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.widget-recent-posts a h4 {
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin-top: 0;
  margin-bottom: 3px;
}

.widget-recent-posts a span {
  color: #939699;
  font-size: 12px;
  line-height: 15px;
}

.widget .tagcloud {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 25px;
  padding-bottom: 35px;
}

.widget .tag-cloud-link {
  margin-right: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  line-height: 20px;
  color: #262D33;
  padding: 5px 15px;
  border: 1px solid #d9dadb;
  border-radius: 5px;
}

.widget-social-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-social-icon {
  margin: 0 10px;
}

.widget-social .widget-title {
  border-bottom: none;
  padding-bottom: 25px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.frontpage-bottom .sidebar-front-page {
  margin: 0;
}

.read-more {
  border-top: 1px solid #D9DADB;
  font-family: 'Lato black';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 11px 0 14px;
}

.sidebar-post-recent .recent-post2 {
  background-color: #F5F5F5;
}

.sidebar-post-recent .recent-post2-wrapper {
  display: flex;
}

.sidebar-post-recent .recent-post2-item {
  flex-basis: 25%;
  min-height: 425px;
  text-align: center;
}

.sidebar-post-recent .recent-post2-link {
  text-decoration: none;
}

.sidebar-post-recent .recent-post2-thumb {
  border-radius: 10px;
  width: 263px;
  height: 180px;
  margin-top: 60px;
  text-align: center;
}

.sidebar-post-recent .recent-post2-info {
  margin-top: 21px;
  text-align: left;
  padding-left: 4%;
}

.sidebar-post-recent .recent-post2-title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
  margin-bottom: 10px;
}

.sidebar-post-recent .recent-post2-feedback {
  display: flex;
}

.sidebar-post-recent .recent-post2-eyes {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.sidebar-post-recent .recent-post2-eyes-counter {
  color: #939699;
  margin-left: 5px;
}

.sidebar-post-recent .recent-post2-comments {
  display: flex;
  align-items: center;
}

.sidebar-post-recent .recent-post2-comments-counter {
  color: #939699;
  margin-left: 5px;
}

@media screen and (max-width: 1200px) {
  .sidebar-front-page {
    width: 30%;
  }
}

@media screen and (max-width: 960px) {
  .sidebar-front-page {
    width: 100%;
  }
  #downloader_widget-3 {
    padding-top: 40px;
  }
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
  margin-bottom: 60px;
}

.investigation-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  max-width: 946px;
  margin: 0 auto 25px;
}

.investigation a {
  line-height: 20px;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  padding-right: 50px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
  background-image: url("../images/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  cursor: pointer;
}

.investigation a:focus, .investigation a:visited, .investigation a:hover {
  color: #fff;
}

h4, p {
  padding: 0;
  margin: 0;
}

.frontpage-bottom {
  display: flex;
  justify-content: space-between;
}

.news {
  width: 74%;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 60px;
  height: fit-content;
}

.news-list {
  align-self: start;
  max-width: 850px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.news-item {
  display: flex;
  height: 245px;
  position: relative;
}

.news-item:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.news-item-permalink {
  text-decoration: none;
}

.news-img {
  height: 195px;
  width: 336px;
  padding: 25px;
  width: 336px;
  height: 100%;
}

.news-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 25px;
  align-items: flex-start;
  position: relative;
}

.news-icon {
  position: absolute;
  fill: #BCBFC2;
  right: 25px;
  top: 25px;
}

.news-category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #4592FF;
}

.news-category-name .photo-report::before {
  background: none;
}

.news-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
}

.news-excerpt {
  font-family: "Lato regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.news-feedback {
  display: flex;
  color: #939699;
  display: flex;
  align-items: center;
}

.news-feedback .date {
  margin-right: 10px;
}

.news-feedback .comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.news-feedback .comments-icon {
  margin-right: 7px;
}

.news-feedback .likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-feedback .likes-icon {
  margin-right: 7px;
}

@media screen and (max-width: 1200px) {
  .news {
    width: 65%;
  }
  .news-item {
    height: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .news-item {
    flex-direction: column;
    height: auto;
  }
  .news-img {
    width: 100%;
  }
  .news-info {
    padding-top: 10px;
  }
  .news-title {
    padding: 15px 0;
  }
  .news-icon {
    right: 30px;
    top: 5px;
  }
  .news-feedback {
    padding: 10px 0;
  }
}

@media screen and (max-width: 960px) {
  .frontpage-bottom {
    flex-direction: column;
  }
  .news {
    width: 100%;
  }
  .news-item {
    width: 100%;
  }
}

.special {
  background-color: #262d33;
  padding: 60px 0;
  color: #fff;
}

.special-grid {
  display: flex;
  justify-content: space-between;
}

.photo-report {
  min-height: 570px;
  width: 49%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.photo-report .category-link {
  color: #fff;
  border-radius: 3px;
  background: #3dc47e;
  font-size: 12px;
  line-height: 15px;
  align-self: start;
  text-transform: none;
  padding: 5px 12px;
  position: absolute;
  left: 18px;
  top: 18px;
}

.photo-report .author {
  text-align: center;
  text-decoration: none;
}

.photo-report .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.photo-report .author-rank {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.photo-report .author-avatar {
  border-radius: 50%;
  width: 45%;
  height: 45%;
  margin-bottom: 8px;
}

.photo-report::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.75));
  z-index: 1;
}

.photo-report-button {
  color: #fff;
  background: #4592ff;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  fill: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.photo-report-button:focus, .photo-report-button:visited, .photo-report-button:hover {
  color: #fff;
}

.photo-report-counter {
  margin-left: 8px;
}

.photo-report-icon {
  margin-right: 8px;
}

.photo-report-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 18px;
  height: 100%;
  text-align: center;
}

.photo-report-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.photo-report-slider .swiper-slide {
  height: 100%;
}

.photo-report-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-report-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
}

.career {
  width: 49%;
  position: relative;
}

.career-grid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  list-style: none;
}

.career-grid-permalink {
  text-decoration: none;
}

.career-grid-image {
  position: absolute;
  width: 555px;
  height: 370px;
  z-index: 0;
  right: 0;
  overflow: hidden;
}

.career-grid-button {
  z-index: 1;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  padding-right: 50px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
  background-image: url("../images/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.career-grid-button:focus, .career-grid-button:visited, .career-grid-button:hover {
  color: #fff;
}

.career-grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-radius: 10px;
}

.career-grid-item-1 {
  background-color: #B4D1E0;
  grid-area: 1 / 1 / 3 / 3;
  padding: 35px 0 50px 35px;
  height: 370px;
}

.career-grid-item-1 h4 {
  max-width: 250px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  margin: 20px 0 15px;
}

.career-grid-item-1 p {
  font-family: Lato regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  max-width: 215px;
  color: #4B5157;
  margin-bottom: 40px;
}

.career-grid-item-2 {
  grid-area: 3 / 1 / 4 / 2;
}

.career-grid-item-3 {
  grid-area: 3 / 2 / 4 / 3;
}

.career-grid-item-2, .career-grid-item-3 {
  max-height: 170px;
  padding: 25px 30px 25px;
  background-color: #fff;
}

.career-grid-item-2 h4, .career-grid-item-3 h4 {
  color: #262D33;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 5px;
}

.career-grid-item-2 p, .career-grid-item-3 p {
  font-family: Lato regular;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin-bottom: 10px;
}

.career-grid-item-2 span, .career-grid-item-3 span {
  color: #939699;
}

@media screen and (max-width: 1024px) {
  .career-grid-item-2, .career-grid-item-3 {
    padding: 15px 20px 15px;
  }
}

@media screen and (max-width: 960px) {
  .special-grid {
    flex-direction: column;
  }
  .photo-report {
    width: 100%;
    margin-bottom: 25px;
  }
  .career {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .career-grid {
    display: flex;
    flex-direction: column;
  }
  .career-grid-image {
    opacity: 0.2;
  }
}

.footer {
  padding: 60px 0 55px;
  background-color: #fff;
}

.footer-menu {
  border-top: 3px solid #000;
  padding-right: 40px;
  flex-basis: 100%;
}

.footer-menu:nth-child(1) {
  border-top: 3px solid #FF4F52;
}

.footer-menu:nth-child(2) {
  border-top: 3px solid #AC8EE3;
}

.footer-menu:nth-child(3) {
  border-top: 3px solid #4592ff;
}

.footer-menu:nth-child(4) {
  border-top: 3px solid #FFA34D;
}

.footer-menu:nth-child(5) {
  border-top: 3px solid #3DC47E;
}

.footer-menu:nth-child(6) {
  border-top: 3px solid #6E99AE;
}

.footer-menu-bar {
  padding-bottom: 60px;
  display: flex;
  align-items: flex-start;
}

.footer-menu-title {
  font-family: 'Lato black', sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu ul a {
  text-decoration: none;
  display: inline-block;
  color: #4B5157;
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 20px;
}

.footer-info {
  padding: 30px 0;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info ul a {
  text-transform: uppercase;
  color: #262D33;
  text-decoration: none;
}

.footer-nav {
  display: flex;
  align-items: center;
  font-family: 'Lato black', sans-serif;
}

.footer-nav-wrapper {
  margin-right: auto;
}

.footer-text {
  max-width: 750px;
}

.footer-text-wrapper {
  color: #939699;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-text-wrapper p {
  margin-top: 0;
  margin-bottom: 25px;
}

.footer-form {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.footer-form-wrapper {
  max-width: 760px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-form-title {
  font-family: 'Roboto Slab';
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 25px;
}

.footer-form input {
  margin-right: 10px;
  padding: 10px 15px;
  border: 1px solid #d9dadb;
  border-radius: 5px;
  min-width: 313px;
}

.footer-form button {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  background: #4592FF;
  cursor: pointer;
  border: none;
}

.footer-form button:focus, .footer-form button:visited, .footer-form button:hover {
  color: #fff;
}

@media screen and (max-width: 770px) {
  .footer-menu-bar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .widget_nav_menu {
    flex-basis: 33.3%;
  }
  .footer-info {
    flex-direction: column;
  }
  .footer-nav {
    align-items: start;
  }
  .footer-nav-wrapper {
    margin: 20px auto;
  }
  .footer-text-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-form-title {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .footer-form {
    flex-direction: column;
  }
  .footer-form-input {
    margin-bottom: 30px;
  }
  .footer-nav {
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;
  }
  .menu-item {
    width: 45%;
  }
}

.post-header {
  padding: 60px 0 72px;
  color: #fff;
}

.post-header-wrapper {
  position: relative;
}

.post-header-info {
  display: flex;
}

.post-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header-nav .icon-wrapper {
  position: relative;
}

.post-header .home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  fill: #fff;
  font-size: 14px;
  line-height: 20px;
  margin-left: auto;
  margin-right: 30px;
}

.post-header .home-link svg {
  margin-right: 6px;
}

.post-header .nav-links {
  min-width: 160px;
}

.post-header .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.post-header .nav-links a svg {
  fill: #ffffff;
}

.post-header .nav-links .prev-icon {
  transform: rotate(180deg);
  margin-right: 8px;
}

.post-header .nav-links .next-icon {
  margin-left: 8px;
}

.post-header .navigation {
  margin: 0;
}

.post-header p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 43px;
  max-width: 630px;
  opacity: 0.85;
}

.post-title {
  font-size: 55px;
  line-height: 70px;
  font-family: 'Roboto slab';
  font-style: normal;
  font-weight: bold;
  max-width: 750px;
  margin-top: 52px;
  margin-bottom: 30px;
}

.post-author {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #D9DADB;
  min-width: 263px;
}

.post-author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4B5157;
  padding: 35px 25px 20px;
}

.post-author-name {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #262D33;
}

.post-author-rank {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.post-author-posts {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Lato Black', sans-serif;
  color: #262D33;
}

.post-author-link {
  color: #262d33;
  padding: 15px 25px;
  text-decoration: none;
  border-top: 1px solid #D9DADB;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Black", sans-serif;
}

.post-author-link:visited {
  color: #262d33;
}

.post-author-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.post-content {
  padding-top: 60px;
  padding-bottom: 30px;
}

.post-content p {
  font-size: 18px;
  line-height: 30px;
  color: #4b5157;
  margin: 30px 0;
}

.post-content p:first-child {
  max-width: 623px;
}

.post-content .has-drop-cap:not(:focus):first-letter {
  color: #4592FF;
  font-family: 'Lato Black', sans-serif;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
}

.post-content h1 {
  font-size: 30px;
}

.post-content h2 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.post-content h3 {
  font-size: 22px;
}

.post-content h4 {
  font-size: 18px;
}

.post-content h5 {
  font-size: 16px;
}

.post-content h6 {
  font-size: 14px;
}

.post-content ul, .post-content ol {
  margin-top: 20px;
  padding: 0;
  margin-left: 20px;
  font-size: 18px;
}

.post-content blockquote {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  margin-left: 0;
  position: relative;
  margin-top: 80px;
  margin-bottom: 45px;
}

.post-content blockquote::before {
  position: absolute;
  top: -20px;
  left: -20px;
  content: '';
  background-image: url(../images/quote.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 70px;
  height: 70px;
  z-index: -1;
}

.post-content blockquote cite {
  font-style: normal;
}

.post .tags-links {
  padding-bottom: 60px;
  border-bottom: 1px solid #D9DADB;
  max-width: 623px;
  width: 100%;
  display: block;
}

.post .tags-links a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 15px;
  color: #262D33;
  border: 1px solid #d9dadb;
  border-radius: 5px;
  margin-right: 10px;
}

.post-footer {
  margin-bottom: 90px;
}

.meks_ess {
  max-width: 623px;
  margin-top: 0;
}

.meks_ess_share_label {
  font-size: 25px;
  line-height: 30px;
  font-family: 'Roboto Slab';
  margin-top: 30px;
  margin-bottom: 25px;
}

.news-feedback .clock-icon {
  margin-right: 5px;
}

.news-feedback .date {
  margin-right: 20px;
}

.news-feedback .comments {
  margin-right: 20px;
}

.post-icon {
  position: absolute;
  left: -67px;
  bottom: -100px;
}

.wp-block-button__link {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  padding-right: 50px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  border-radius: 20px;
}

.wp-block-button__link:focus, .wp-block-button__link:visited, .wp-block-button__link:hover {
  color: #fff;
}

.comments-area {
  max-width: 750px;
}

.comments-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
}

.comments-count {
  color: #939699;
  font-style: normal;
  font-family: "Lato Regular";
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
}

.comments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comments-add-button {
  color: #262d33;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
  border: 1px solid #D9DADB;
  border-radius: 20px;
}

.comments-add-button:visited {
  color: #262d33;
}

.comments-add-icon {
  fill: #BCBFC2;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.comments-list {
  margin-left: 0;
  padding: 0;
}

.comment-content p {
  font-size: 18px;
  line-height: 30px;
  color: #4b5157;
  margin: 10px 0 15px;
}

.comment a {
  text-decoration: none;
}

.comment-body {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #D9DADB;
  padding-top: 20px;
  padding-bottom: 29px;
}

.comment-author-name {
  font-family: Roboto Slab;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
}

.comment-author-name a {
  color: #262d33;
}

.comment-author-name a:visited {
  color: #262D33;
}

.comment-author-avatar {
  margin-right: 15px;
  flex-shrink: 0;
}

.comment-author-avatar img {
  border-radius: 50%;
}

.comment-meta {
  margin-left: 10px;
}

.comment-meta a {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.comment-meta a:visited {
  color: #939699;
}

.comment-reply {
  display: flex;
  align-items: center;
}

.comment-reply a {
  font-size: 12px;
  line-height: 15px;
  color: #262D33;
}

.comment-form {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 30px 40px 35px 30px;
}

.comment-form .avatar {
  border-radius: 50%;
  margin-right: 20px;
}

.comment-label {
  font-family: 'Roboto Slab';
  color: #262D33;
  font-size: 20px;
  line-height: 25px;
  display: block;
  margin-left: 95px;
  margin-bottom: 15px;
}

.comment-textarea {
  min-height: 130px;
  max-width: 595px;
  resize: none;
  background-color: #fff;
  border: 1px solid #D9DaDb;
  border-radius: 10px;
  margin-bottom: 15px;
}

.comment-textarea-wrapper {
  position: relative;
  width: 100%;
}

.comment-textarea-wrapper::before {
  content: '';
  background-image: url(../images/angle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 12px;
  height: 20px;
  position: absolute;
  left: -10px;
  top: 30px;
}

.comment-wrapper {
  display: flex;
  align-items: flex-start;
}

.comment-submit {
  line-height: 20px;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
  background-image: url("../images/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  padding-right: 50px;
  cursor: pointer;
  margin-left: 95px;
}

.comment-submit:focus, .comment-submit:visited, .comment-submit:hover {
  color: #fff;
}

.news-wrapper {
  width: 74%;
}

.news-wrapper .digest {
  width: 100%;
  margin-bottom: 40px;
}

.news-wrapper .digest-list {
  border-radius: 10px;
}

.search-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}

.pagination {
  margin-bottom: 115px;
}

.pagination .nav-links {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .nav-links * {
  padding: 17px;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Black";
  color: #262D33;
  text-align: center;
}

.pagination .nav-links *:not(:last-child) {
  border-right: 1px solid #D9DADB;
}

.pagination .nav-links .prev {
  display: flex;
  align-items: center;
  padding: 17px 70px;
  margin-right: auto;
  flex-grow: 1;
  width: fit-content;
}

.pagination .nav-links .next {
  display: flex;
  align-items: center;
  padding: 17px 70px;
  margin-left: auto;
  flex-grow: 1;
}

.category-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.post-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 23%;
  margin-bottom: 30px;
}

.post-card:not(:last-child) {
  margin-right: 2%;
}

.post-card-thumb {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.post-card-text {
  display: flex;
  flex-direction: column;
  padding: 15px 25px 25px 25px;
  align-items: end;
}

.post-card-text p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 14px;
}

.post-card-title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 5px;
}

.post-card .author {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.post-card .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.post-card .author-info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  align-items: center;
}

.post-card .author-info .date, .post-card .author-info .comments, .post-card .author-info .likes {
  color: #939699;
  display: flex;
  align-items: center;
}

.post-card .author-info .likes, .post-card .author-info .comments {
  margin-left: 10px;
}

.post-card .author-name {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .post-card {
    width: 31%;
  }
}

@media screen and (max-width: 1024px) {
  .post-card {
    width: 47%;
  }
  .post-card .author-info .date {
    width: 40%;
  }
}

@media screen and (max-width: 540px) {
  .post-card {
    width: 100%;
  }
}

.section-dark {
  background: #262d33;
  color: #ffffff;
  padding: 50px 122px;
}

.section-dark .left {
  min-width: 460px;
}

.page-title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 27px;
}

.page .contacts-title {
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  margin-bottom: 28px;
  margin-top: 0;
}

.contacts-wrapper {
  display: flex;
  align-items: flex-start;
}

.contacts-wrapper .left {
  margin-right: 80px;
}

.contacts-wrapper .right {
  max-width: 238px;
}

.contacts-wrapper .right a, .contacts-wrapper .right address {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  font-style: normal;
  margin-bottom: 15px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.85;
  margin-bottom: 15px;
}

.contacts-form {
  max-width: 460px;
}

.contacts-form input {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
  margin-bottom: 10px;
}

.contacts-form textarea {
  width: 100%;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
  min-height: 120px;
  resize: none;
}

.contacts-button {
  line-height: 20px;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  padding-right: 50px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
  background-image: url("../images/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  cursor: pointer;
  border: none;
  margin-bottom: 120px;
}

.contacts-button:focus, .contacts-button:visited, .contacts-button:hover {
  color: #fff;
}

#button {
  line-height: 20px;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  padding-right: 50px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
  background-image: url("../images/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  cursor: pointer;
  border: none;
  max-width: 140px;
}

#button:focus, #button:visited, #button:hover {
  color: #fff;
}

.wpcf7-form {
  max-width: 460px;
}

.wpcf7-form input {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
  margin-bottom: 10px;
}

.wpcf7-form textarea {
  width: 100%;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
  min-height: 120px;
  resize: none;
  max-height: 120px;
}

.single-lesson {
  background-color: #fff;
}

.lesson-header {
  padding: 80px 0;
  color: #fff;
}
